
/* css */
body {font-family: sans-serif;}
.container {background-color: #d1d2d4;}

h1{
  font-size: 140px;
  font-weight: bold;
  margin-bottom: 1em;
  margin-top: 0.1em;
  margin-left: 0.1em;
}

p{
  font-size: 22px;
  font-weight: bold;
  margin-left: 0.4em;
  margin-bottom: 90px;
}
