
/* css */
body {font-family: sans-serif;}
.container {background-color: #d1d2d4;}

h1{
  font-size: 80px;
}

p{
  font-size: 20px;
}

.largebox1{
  fill: rgb(194, 0, 115);
  position: relative;
  left: 500px;
  z-index: 100;

}

.largebox2{

}

.smallbox{

}
